<div class="container">
    <h1>Ações do Gestor</h1>
    <div class="card-container">
      <a class="card" routerLink="/layout/manager-actions/taxis">
        <i class="material-icons large">local_taxi</i>
        <span>Taxis</span>
      </a>
      <a class="card" routerLink="/layout/manager-actions/motorists">
        <i class="material-icons large">directions_car</i>
        <span>Motoristas</span>
      </a>
      <a class="card" routerLink="/layout/manager-actions/settings">
        <i class="material-icons large">settings</i>
        <span>Definições</span>
      </a>
      <a class="card" routerLink="/layout/manager-actions/reports">
        <i class="material-icons large">bar_chart</i>
        <span>Relatórios</span>
      </a>
    </div>
  </div>