<div class="container">
    <h1>Taxi App</h1>
    <div class="card-container">
      <a routerLink="/layout/manager-actions" class="card">
        <i class="material-icons large">admin_panel_settings</i>
        <span>Gestor</span>
      </a>
      <a routerLink="/layout//motorist-actions" class="card">
        <i class="material-icons large">directions_car</i>
        <span>Motorista</span>
      </a>
      <a routerLink="/layout//list-client/" class="card">
        <i class="material-icons large">person</i>
        <span>Cliente</span>
      </a>
    </div>
</div>

